@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}

.fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
}

.fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
}

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
}

.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}

.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
}

.fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
}

.fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
}

.fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
}

.fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
}

.fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
}

.fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
}

.fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
}

.fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
}

.fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
}

.fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
}

.fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
}



/* navbar*/

.navbar {
    display: flex;
    align-items: center;
    margin: 31px 160px 31px 160px;
    /* border: 1px solid gray; */
    justify-content: space-between;
}

/* button work */
.sign-btn {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600px;
    color: #006A50;
    border-color: #006A50;
    border-radius: 8px;
}

.sign-btn:hover {
    background-color: lightcoral;
}
.btn-primary:hover{
    background-color: lightcoral;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #006A50;
    padding: 17px 35px;
    border-radius: 8px;
    border: none;
}

/* bannar container work */

.bannar-container {
    margin: 19px 160px 80px 160px;
    /* border: 1px solid black; */
    /* padding: 117px 599px 117px 60px; */
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 24px;
    border: none;
    /* height: 560px;
    width: 1280px; */

}

.bannar-title {
    color: gray;
}

.bannar-start {
    padding-left: 60px;
}

/* image Section */
.first-img {
    height: 400px;
    width: 474px;
    padding-top: 80px;
    padding-right: 60px;
    padding-bottom: 80px;
}