
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}

.fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
}

.fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
}

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
}

.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}

.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
}

.fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
}

.fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
}

.fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
}

.fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
}

.fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
}

.fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
}

.fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
}

.fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
}

.fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
}

.fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
}

.fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
}



/* navbar*/

.navbar {
    display: flex;
    align-items: center;
    margin: 31px 160px 31px 160px;
    /* border: 1px solid gray; */
    justify-content: space-between;
}

/* button work */
.sign-btn {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600px;
    color: #006A50;
    border-color: #006A50;
    border-radius: 8px;
}

.sign-btn:hover {
    background-color: lightcoral;
}
.btn-primary:hover{
    background-color: lightcoral;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #006A50;
    padding: 17px 35px;
    border-radius: 8px;
    border: none;
}
.dedication-btn-1st{
    color: white;
    background-color: #5490F5;
    padding: 11px 20px;
    border-radius: 8px;
}
.dedication-btn-1st:hover{
    background-color: lightcoral;
}
.dedication-btn-2nd{
    color: white;
    background-color: #09A15C;
    padding: 11px 20px;
    border-radius: 8px;
}
.dedication-btn-2nd:hover{
    background-color: lightcoral;}

 
.dedication-btn-3rd{
    color: white;
    background-color: #FFC239;
    padding: 11px 20px;
    border-radius: 8px;
}
.dedication-btn-3rd:hover{
    background-color: lightcoral; }  

.btn-satellite-section{
    background-color: #006A50;
    color: white;
    padding: 13px 26px;
    border-radius: 8px;
    font-weight:18px ;
    border: none;
}  

/* bannar container work */

.bannar-container {
    margin: 19px 160px 80px 160px;
    /* border: 1px solid black; */
    /* padding: 117px 599px 117px 60px; */
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 24px;
    border: none;
    /* height: 560px;
    width: 1280px; */

}

.bannar-title {
    color: gray;
}

.bannar-start {
    padding-left: 60px;
}

/* image Section */
.first-img {
    height: 400px;
    width: 474px;
    padding-top: 80px;
    padding-right: 60px;
    padding-bottom: 80px;
}

/* Vision Part */
.vision-title{
    color: black;
    font-size: 40px;
    margin-top: 0px;

}
.vision-description{
    color: gray;
    margin-bottom: 32px;

}
.vision-eye-title{
   margin: 80px 160px 32px 160px;
   /* border: 1px solid black; */
  
    
}
.dedication{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: space-between;
    margin: 32px 160px 32px 160px;
    /* padding-right: 24px; */
    /* border: 1px solid black; */
    border: none;
    gap: 24px;
    background-color: whitesmoke;
}
.html-box-1{
    height: 325px;
    width: 410px;
    border: none;
    background-color: #c9dbf5;
    padding-left: 32px;
    padding-top: 32px;
    border-radius: 16px;
    
   
}
.html-box-2{
    height: 325px;
    width: 410px;
    border: none;
    background-color: #C6E4D6;
    padding-left: 32px;
    padding-top: 32px;
    border-radius: 16px;
    
    
}
.html-box-3{
    height: 325px;
    width: 410px;
    border: none;
    background-color: #F7EBCF;
    padding-left: 32px;
    padding-top: 32px;
    border-radius: 16px;

}
.box-title{
    color: #0E0E0E;

}
.box-description{
    color: gray;

}
/* assure section */
.assure-section{
    /* padding: 32px 160px 80px 160px; */
    margin: 32px 150px 80px 160px;;
    /* border: 1px solid black; */
    background-color: #F1F1F3;
    /* background-image: url(../assets/quote-bg.png); */
    background-repeat: no-repeat;
    padding: 48px 24px;
    border-radius: 16px;
    
    

}
.assure-list {
    color: gray;
    

}
.designation{
   padding: 0px;
   color: gray;

}

.quote-bg{
    margin-top: 0px;
}


/* newsportal section */

.newsportal{
    /* background-color: #F1F1F3; */
}
.news-title{
    font-size: 40px;
}
.news-description{
    font-size: 16px;
    color: gray;
}

.news{
    margin: 24px 160px 80px 160px;
    
      
}
.news{
    /* border: 1px solid black;
 */
 
}
.satellite-section{
    margin: 32px 160px 24px 160px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 24px;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    align-content: center;
}
.satellite-img{
    padding: 48px 32px 48px 48px;

}
.new-satellite-news{
    padding: 20px 48px 56px 32px;
}
.date-time{
    color: gray;
  
}
.motivation{
    color: gray;
}